@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
}

:root {
   /* Color Option #1 */
   --color_text-primary: #f55d3e;
   --color_text-secundary: #36393b;
   --color_text-third: #000;
   --main_color-primary: #f55d3e;
   --main_color-secundary: #a5d8ff;
   --background-color: #FFFCFF;
   /* Color Option #2
   --color_text-primary: #F55D3E;
   --color_text-secundary: #6F1D1B;
   --color_text-third: #485663;
   --main_color-primary: #3B429F;
   --main_color-secundary: #508484;
   --background-color: #FAFBFE;*/
   /* Color Option #3
   --color_text-primary: #AB29CA;
   --color_text-secundary: #101E2C;
   --color_text-third: #485663;
   --main_color-primary: #9A00BF;
   --main_color-secundary: #F4D4FB;
   --background-color: #FAFBFE;*/
   /* Font */
   --lowText_font_size: 16px;
   --text_size_title: 40px;
   --text_title_card: 24px;
   --text_title_cardv2: 20px;
   --text_paragraph: 16px;
   --box_shadow-primary: 0px 6px 50px -20px rgba(0, 0, 0, .5);
}

main {
   background: var(--background-color);
}

header {
   width: 100%;
   height: 70px;
   position: fixed;
   z-index: 100;
   background: var(--main_color-secundary);
}

.container-header {
   max-width: 1200px;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 20px;
}

.logo {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 1;
}

.logo img {
   width: 50px;
   margin-top: 8px;
}

.menu {
   display: flex;
   align-items: center;
}

.menu #btn-menu {
   display: none;
}

.menu nav {
   margin: 0px 20px;
}

.menu nav img {
   display: none;
}

.menu nav ul {
   display: flex;
}

.menu nav ul li {
   list-style: none;
   margin: 20px 16px;
}

.menu nav ul .cnt {
   display: none;
}

.menu nav ul li a {
   color: var(--color_text-secundary);
   font-size: var(--lowText_font_size);
   position: relative;
}

.menu nav ul li a:hover {
   color: var(--color_text-primary);
}

.btn-quote {
   display: block;
   padding: 8px 40px;
   text-decoration: none;
   border: 2px solid var(--main_color-primary);
   border-radius: 8px;
   font-weight: 500;
   margin: 0px 20px;
   transition: all 300ms;
}

.btn-quote:hover {
   color: aliceblue;
   background-color: var(--main_color-primary);
}

.menu .socialMedia {
   display: none;
   margin: 0px 10px;
}

.menu .socialMedia a {
   margin: 0px 4px;
}

.menu .socialMedia img {
   width: 20px;
}

/*  COVER HOME */

.container-cover {
   height: 100vh;
   padding-top: 100px;
   padding-bottom: 100px;
   background: var(--main_color-secundary);
}

.cover {
   max-width: 1200px;
   margin: auto;
   margin-top: 100px;
   display: flex;
   align-items: center;
   padding: 0px 20px;
}

.text-cover {
   width: 100%;
   padding-right: 150px;
}

.text-cover h1 {
   font-size: 50px;
   color: var(--color_text-secundary);
}

.text-cover p {
   font-size: var(--text_paragraph);
   margin-top: 40px;
   color: var(--color_text-third);
}

.btn-text {
   display: block;
   width: 150px;
   margin-top: 40px;
   padding: 10px 20px;
   text-align: center;
   font-weight: 500;
   background: var(--main_color-primary);
   color: var(--main_color-secundary);
   border-radius: 8px;
   border: 2px solid transparent;
   cursor: pointer;
   transition: all 300ms;
}

.btn-text:hover {
   background: transparent;
   border: 2px solid var(--main_color-primary);
   color: var(--color_text-primary);
}

.img-cover {
   width: 100%;
}

.img-cover img {
   width: 550px;
}

/*ESTILOS GENERALES CARDS*/

.container-cardPrime {
   padding-top: 100px;
}

.card-primary {
   max-width: 1200px;
   margin: auto;
   text-align: center;
   padding: 0px 20px;
}

.text-cardPrime {
   max-width: 800px;
   margin: auto;
}

.text-cardPrime p {
   color: var(--color_text-primary);
   letter-spacing: 4px;
   font-size: var(--text_paragraph);
   font-weight: 500;
}

.text-cardPrime h1 {
   font-size: var(--text_size_title);
   font-weight: 600;
   color: var(--color_text-secundary);
}

.container-box-cardPrime {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 40px;
}

.box-cardPrime {
   max-width: 350px;
   padding: 60px 40px;
   border: 1px solid #E6E6E6;
   border-radius: 20px;
   margin: 14px;
   transition: all 300ms;
}

.box-cardPrime:hover {
   border: 1px solid transparent;
   box-shadow: var(--box_shadow-primary);
}

.box-cardPrime h2 {
   font-size: var(--text_title_card);
   margin-top: 40px;
   font-weight: 500;
}

.box-cardPrime p {
   margin-top: 20px;
}

.box-cardPrime img {
   max-height: 250px;
}

/*ABOUT*/

.container-about {
   padding: 100px 0px;

   margin-top: 100px;
}

.about {
   max-width: 1200px;
   margin: auto;
   padding: 0px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.text-about {
   width: 100%;
   padding-right: 40px;
}

.text-about h1 {
   color: var(--color_text-secundary);
   font-weight: 600;
}

.text-about p {
   font-size: var(--text_paragraph);
   margin-top: 40px;
   color: var(--color_text-third);
}

.img-about {
   width: 100%;
   display: flex;
}

.img-about img {
   width: 300px;
}

/* SERVICES */

.card-service {
   padding: 60px 40px;
   width: 100%;
}

.card-service i{
   font-size: 100px;
   margin-top: 20px;
   cursor: pointer;
   color: var(--color_text-primary);
}

.card-service h2 {
   padding-bottom: 40px;
}

.card-service ul {
   list-style: none;
   text-align: left;
}

.card-service ul li {
   padding-bottom: 10px;
}

/* PROYECTS */

.card-project {
   width: 350px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* CONTACT */
.container-contact {
   max-width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   margin-top: 100px;
   padding: 0px 20px;
   background: var(--background-color);
}

.location {
   width: 100%;
}

.frm-contact {
   width: 100%;
   margin: 0px 40px;
   padding: 10px;
}

.frm-contact div {
   margin-bottom: 8px;
}
.name-email, .area-tlf {
   width: 100%;
   display: flex;
   display: flex;
   justify-content: space-between;
}
.frm-contact input[type="text"], .frm-contact input[type="email"] {
   width: 48%;
}
.frm-contact input[type="text"], .frm-contact input[type="email"], .frm-contact textarea {
   outline: none;
   background: none;
   margin-top: 40px;
   border: none;
   padding-bottom: 8px;
   border-bottom: 2px solid var(--main_color-primary);
}

.commit textarea {
   width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 950px) {
   .img-cover {
      display: none;
   }
   .about {
      flex-wrap: wrap;
      align-items: center;
      max-width: 550px;
      align-items: center;
   }

   .about .img-about {
      display: flex;
      flex-direction: column;
   }
}

@media screen and (max-width: 850px) {
   
   .btn-quote {
      display: none;
   }

   .menu nav {
      position: fixed;
      top: 0;
      right: -300px;
      background: #FAFBFE;
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      transition: all 300ms;
   }

   .menu ul {
      flex-direction: column;
      margin-top: 40px;
   }

   .menu ul li {
      margin-top: 30px;
      margin-left: 0;
   }

   .menu nav ul .cnt {
      display: block;
   }

   .menu nav img {
      display: block;
      width: 60px;
      height: 60px;
   }

   #back-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, .5);
      display: none;
   }

   .menu #btn-menu {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, .1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--text_title_card);
      border-radius: 50px;
      cursor: pointer;
      transition: all 300ms;
   }

   .menu #btn-menu:hover {
      background: rgba(255, 255, 255, .2);
   }

   .img-cover {
      display: none;
   }
   .about {
      flex-wrap: wrap;
      align-items: center;
      max-width: 550px;
      align-items: center;
   }

   .about .img-about {
      display: flex;
      flex-direction: column;
   }

}